{% extends "base.html" %}
{% block title %}Upload File{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block content %}
<div class="section-card">
  <h2 class="section-title">Upload file từ máy chấm công</h2>
  <form method="post" enctype="multipart/form-data" class="mt-4">
    <input type="file" name="file" accept=".xls,.xlsx" required />
    <button type="submit" class="btn-custom mt-3">Upload</button>
  </form>
</div>

<div class="section-card mt-5">
  <h2 class="section-title">Import nhân viên</h2>
  <form action="{{ url_for('main.import_employees') }}" method="post" enctype="multipart/form-data" class="mt-4">
    <input type="file" name="file" accept=".xls,.xlsx" required />
    <button type="submit" class="btn-custom mt-3">Import Nhân viên</button>
  </form>

  <div class="mt-3">
    <a href="{{ url_for('main.employees') }}" class="btn btn-primary">
      <i class="bi bi-people"></i> Xem danh sách nhân viên
    </a>
  </div>
</div>
{% endblock %}
